.login-page {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  min-height: 100vh;
  width: 90vw;
  max-width: 680px;
  margin: 0 auto;
}

.login {
  background-color: #99b4d1;
}

.login form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  padding: 20px;
  background-color: #99b4d1;
  height: 55vh;

}

.login fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid white;
  padding: 20px;
  height: 55vh;

}

.login legend {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 1.5em;
  line-height: 1.2;
}

.login label {
  display: block;
  margin-bottom: 10px;
  text-align: left;
  font-size: 1.2em;
  line-height: 1.2;
  font-weight: bold;
  text-transform: uppercase;
}

.login input {
  width: 65%;
  padding: 2px;
  border: 1px solid #0b0b0b;
  border-radius: 3px;
  margin-bottom: 20px;
  font-size: 1.2em;
  line-height: 1.5;
}


.login .form-group {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.login .login-btn {
  text-align: center;
}

.login button[type="submit"] {
  background-color: #e1e1e1;
  color: black;
  padding: 8px 30px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 1.2em;
  line-height: 1.5;
}

@media screen and (max-width: 720px) {
  .login-page {
    width: 100%;
    padding: 0 10px;
  }

  .login form {
    margin: 20px 0px;
  }

  .login label {
    font-size: 1.1em;
    line-height: 1.2;
  }

  .login input {
    font-size: 1.1em;
    line-height: 1.5;
  }

  .login button[type="submit"] {
    font-size: 1.1em;
    line-height: 1.5;
  }


  .login .form-group,
  .login label {
    display: block;
    text-align: center;
  }

  .login form,
  .login fieldset {
    height: 45vh;
  }


}